.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: black;
  background: black;
}

.App-link {
  color: #61dafb;
}
.body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 350px 325px;
  background: #dddddd;
  
}
.container {
  margin: 20px;
  display: grid;
  grid-template-columns: 80px 80px;
  grid-template-rows: 20px 20px 20px;
}
.top {
  grid-column: 1 / 3;
  grid-row: 1;
}
.left {
  grid-column: 1;
  grid-row: 2;
}
.right {
  grid-column: 2;
  grid-row: 2;
}
.bot {
  grid-column: 1 / 3;
  grid-row: 3;
}
.Dists {
  background: white;
}
.Attitude {
  background: white;
}
.ParamTable {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 20px;
}
.Params {
  display: flex;
  background: #dddddd;
}
.Params form {
  display: flex;
  margin: 4px;
}
.Params input {
  width: 80px;
  margin-left: 5px;
}
#ip {
  width: auto;
}
.Box {
  /* padding: 1rem; */
  flex-grow: 1;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  grid-column: 1 / 4;
  /* max-width: 50%; */
}
.BoxInner {
  padding: 1rem;
  width: 45vw;
  background: white;
}
#posCanvas {
  z-index: 2;
}
#targetCanvas {
  z-index: 3;
}
#drawCanvas {
  z-index: 4;
}
.canvasBlock {
  position: relative;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  background: white;
}
.canvasBlock canvas {
  position: absolute;
  margin: auto;
  left: 75px;
  /* top: 5px; */
}
.canvasBlock div {
  display: inline-flex;
  bottom: 0px;
}
.position {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.graphBlock {
  grid-column: 1 / 4;
  grid-row: 2;
  display: flex;
  justify-content: space-around;
}
.errNums {
  display: flex;
  justify-content: space-around;
}
.errNums div {
  display: inline-flex;
  width: 50px;
}
button.start {
  background: lime;
  border: none;
  width: 5rem;
  height: 2.5rem;
  /* border-radius: 1rem; */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

button.stop {
  background: red;
  border: none;
  width: 5rem;
  height: 2.5rem;
  /* border-radius: 1rem; */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
